<head><meta http-equiv="expires" content="0"/><title>template index</title></head>
<a href="https://github.com/telechiok/edit/main/template.html">编辑本页</a> <a href="https://telechiok.github.io/index.html">返回主页</a> <a href="https://telechiok.github.io/template/" target="_blank">查看模板</a>
<ul>
<li><a href="https://telechiok.github.io/template/template.html">模板</a></li>
<ul>模板组件
  <li><a href="https://telechiok.github.io/template/list.html">列表</a></li>
  <li><a href="https://telechiok.github.io/template/searchengine.html">搜索引擎</a></li>
</ul>
</ul>
