<head>
  <meta http-equiv="expires" content="0"/>
  <title>template index</title>
</head>
<body>
  <a href="https://github.com/telechiok/telechiok.github.io/edit/main/template/index.html" target="_blank">编辑本页</a> <a href="https://github.com/telechiok/telechiok.github.io/new/main/template/" target="_blank">添加本级文件</a> <a href="https://telechiok.github.io/template/index.html" target="_blank">查看模板</a> <a href="https://github.com/telechiok/telechiok.github.io" target="_blank">仓库</a>
  <br/>
  <a href="https://telechiok.github.io/index.html" target="_blank">主页</a> <a href="https://telechiok.github.io/index.html">返回上级</a>
  <p><a href="https://github.com/telechiok/telechiok.github.io/edit/main/template/template.html" target="_blank">模板</a></p>
  <ul>模板组件
    <li><a href="https://telechiok.github.io/template/list.html">列表</a></li>
    <li><a href="https://telechiok.github.io/template/searchengine.html">搜索引擎</a></li>
  </ul>
</body>
