<head>
  <meta http-equiv="expires" content="0"/>
  <title>template index</title>
</head>
<body>
  <a href="https://github.com/telechiok/telechiok.github.io/new/main/template" target="_blank">编辑本页</a> <a href="https://telechiok.github.io/index.html" target="_blank">主页</a> <a href="https://telechiok.github.io/template/index.html">返回上级</a> <a href="https://telechiok.github.io/template/" target="_blank">查看模板</a>
  <ul>改动项
    <ul>
      <li>head
        <ul>title</ul>
      </li>
      <li>body
        <ul>编辑本页
          <li>记得改地址</li>
          <li>仓库“my”里的，记得在地址的“edit”前加上“my/”</li>
        </ul>
        <ul>返回上级
          <li>记得改地址</li>
          <li>仓库“my”里的，记得在“https://telechiok.github.io/”后加上“my/”</li>
        </ul>
      </li>
    </ul>
</body>
