<head>
  <meta http-equiv="expires" content="0"/>
  <title>template</title>
</head>
<body>
  <a href="https://github.com/telechiok/telechiok.github.io/edit/main/template/template.html" target="_blank">编辑本页</a> <a href="https://github.com/telechiok/telechiok.github.io/new/main/template/" target="_blank">添加本级文件</a> <a href="https://telechiok.github.io/template/" target="_blank">查看模板</a> 
  <br/>
  <a href="https://telechiok.github.io/index.html" target="_blank">主页</a> <a href="https://telechiok.github.io/template/index.html">返回上级</a>
  <p>改动项</p>
  head
  <ul>
    <li>title</li>
  </ul>
  body
  <ul>
    <li>编辑本页
      <ul>
        <li>记得改地址</li>
        <li>仓库“my”里的，记得在地址的“edit”前加上“my/”</li>
      </ul>
    </li>
    <li>添加本级文件
      <ul>
        <li>记得改地址</li>
        <li>仓库“my”里的，记得在地址的“edit”前加上“my/”</li>
      </ul>
    </li>
    <li>返回上级
      <ul>
        <li>记得改地址</li>
        <li>仓库“my”里的，记得在“https://telechiok.github.io/”后加上“my/”</li>
      </ul>
    </li>
  </ul>
</body>
